# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# output
clean_csv/
csv/

# testing
**/test.py
**/Untitled**

# credentials
**/credentials/
**/token/

# misc
.DS_Store
**/__pycache__/
**/.ipynb_checkpoints/
.vscode/